/* Reset básico e configurações gerais */
* { 
    margin: 0;
    font-weight: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

header {
    height: 110px;
    background-color: #855cd6;
    display: flex;
    justify-content: space-between;
    color: #000000;
    padding-left: 35px;
    box-shadow: 0 0 30px 10px #855cd6;
}

#menu {
    background-color: #07549c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    max-width: 50%;
}

#ia {
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

label {
    color: #FFFFFF;
    font-size: 17px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Garante que o conteúdo dentro do main fique centralizado */
    color: #102750;
    padding: 20px 0 10px 35px;
    margin: 0 auto; /* Centraliza a div main horizontalmente */
    width: 100%; /* Define a largura para 100% do contêiner pai */
}

h1 {
    font-size: 50px;
    color: #102750;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Aumenta a visibilidade da sombra do h1 */
}

h2 {
    font-size: 30px;
    color: #102750;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Aumenta a visibilidade da sombra do h1 */
    text-align: center; /* Garante que o conteúdo dentro do main fique centralizado */
}

.projeto > h2 {
    color: #ffffff;

}

#titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

#apresentação {
    width: 80%; /* Defina a largura desejada */
    margin: 0 auto; /* Centraliza a div horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Garante que o conteúdo dentro do main fique centralizado */
    color: #012938;
    padding: 20px 0; /* Define o padding superior e inferior */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);  /* Aumenta a visibilidade da sombra da imagem */
    border-radius: 10px;
    padding: 30px;
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;

}

span {
    color: #240046;
}

.corner-image {
    position: absolute;
    bottom: 10px; /* Ajuste a posição conforme necessário */
    right: 10px;  /* Ajuste a posição conforme necessário */
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

#apresentação > img {
    border-radius: 10px;
    margin: 0 auto; /* Centraliza a div horizontalmente */
    display: flex;
    padding: 30px
}

#apresentação > p {
    font-size: 20px;
    width: 60%;
    margin: 5%;
    color: #FFFFFF;
    text-align: center; /* Centraliza o texto */
    border-radius: 10px;
    background-color: #855cd6; /* Define a cor de fundo */
    padding: 30px; /* Adiciona padding ao parágrafo */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* Aumenta a visibilidade da sombra do parágrafo */
}

p {
    text-align: center;
}

#texto {
    font-size: 20px;
    width: 60%;
    margin: 5%;
    line-height: 1.5em;
    color: #000000;
    text-align: center; /* Centraliza o texto */
}

.projeto {
    background-color: #855cd6;
    padding: 1%;
    width: 50%;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* Aumenta a visibilidade da sombra do contêiner do projeto */
}

.projeto img {
    border: 10px solid #fff;
    border-radius: 3px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); /* Aumenta a visibilidade da sombra da imagem do projeto */
}

.projeto:hover {
    transform: scale(1.05); /* Aumenta em 5% ao passar o mouse */
}

.projetos {
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: center;
}


.entrar {
    background-color: #f8b231; /* Cor de fundo roxa */
    color: white;              /* Cor do texto */
    border: none;              /* Remove a borda */
    padding: 10px 20px;        /* Espaçamento interno do botão */
    font-size: 16px;           /* Tamanho da fonte */
    cursor: pointer;           /* Cursor de mãozinha */
    border-radius: 5px;        /* Borda arredondada */
    margin-top: 10px;          /* Espaçamento acima do botão */
}

.entrar:hover {
    background-color: #3700b3; /* Cor de fundo ao passar o mouse */
}

.back-button-container {
    text-align: center; /* Centraliza o botão */
    margin-top: 20px;   /* Adiciona espaço acima do botão */
}

.back-button {
    background-color: #f8b231; /* Cor de fundo roxa */
    color: white;              /* Cor do texto */
    border: none;              /* Remove a borda */
    padding: 10px 20px;        /* Espaçamento interno do botão */
    font-size: 16px;           /* Tamanho da fonte */
    cursor: pointer;           /* Cursor de mãozinha */
    border-radius: 5px;        /* Borda arredondada */
}

.back-button:hover {
    background-color: #3700b3; /* Cor de fundo ao passar o mouse */
}

footer {
    background-color: #855cd6;
    color: #FFFFFF;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 30px 10px #855cd6;
}

.pages {
    margin: 10px;
    background-color: #f8b231;
    padding: 15px;
    color: #000000;
    font-size: 17px;
    border-radius: 0.4em;
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: #855cd6;
}

.pages:hover {
    background-color: #FFFFFF;
    font-size: 19px;
}

.filter-section {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.filter-dropdown {
    margin-left: 10px;
    padding: 10px;
    font-size: 17px;
    border-radius: 0.4em;
    background-color: #f8b231;
    color: #000000;
    border: none;
    cursor: pointer;
}

.filter-dropdown:hover {
    background-color: #FFFFFF;
    font-size: 19px;
}

.contrast-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

#blackAndWhite {
    background-color: #555;
    color: #fff;
}

#highContrast {
    background-color: #ff5733;
    color: #fff;
}

#blueContrast {
    background-color: #3a86ff;
    color: #fff;
}

#greenContrast {
    background-color: #4caf50;
    color: #fff;
}

#yellowContrast {
    background-color: #ffd700;
    color: #fff;
}

.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.Acromatomia {
    filter: grayscale(50%);
}
 
.filter-image.Deuteranopia {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}
 
.filter-image.Protanopia {
    filter: sepia(35%) saturate(100%);
}

.high-contrast {
    background-color: #ffffff;
    color: #fff;
}

.black-and-white {
    background-color: #b5bddb;
    color: #ffffff;
}

.blue-contrast {
    background-color: #5da2e2;
}

.green-contrast {
    background-color: #278b41;
    color: #fff;
}

.yellow-contrast {
    background-color: #e6ef64;
    color: #ffffff;
}

.animated-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 10% 0 5%;
}

.animated-image {
    transition: transform 0.3s ease;
}

.animated-text {
    transition: opacity 0.5s ease;
}

/* Estilo para os botões de ajuste de fonte */
.font-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#increaseFont, #decreaseFont {
    background-color: #855cd6;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#increaseFont:hover, #decreaseFont:hover {
    opacity: 0.8;
}
